<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>MyGrowth</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- 原始servlet层配置begin -->
	<servlet>
		<servlet-name>MyServlet</servlet-name>
		<servlet-class>com.sven.test.ServletTest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyServlet</servlet-name>
		<url-pattern>/myTest</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>Myreg</servlet-name>
		<servlet-class>com.exercise.servlet.RegServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Myreg</servlet-name>
		<url-pattern>/RegServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MyLogin</servlet-name>
		<servlet-class>com.exercise.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyLogin</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MyExit</servlet-name>
		<servlet-class>com.exercise.servlet.UserExitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyExit</servlet-name>
		<url-pattern>/ExitServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.addressbook.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/UserServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GroupServlet</servlet-name>
		<servlet-class>com.addressbook.servlet.GroupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GroupServlet</servlet-name>
		<url-pattern>/GroupServlet</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>LinkmanServlet</servlet-name>
		<servlet-class>com.addressbook.servlet.LinkmanServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LinkmanServlet</servlet-name>
		<url-pattern>/LinkmanServlet</url-pattern>
	</servlet-mapping>
	<!-- 原始servlet层配置  end-->
	
	
	
	<!-- spring 应用上下文， 理解层次化的ApplicationContext -->
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>/WEB-INF/configs/spring/applicationContext*.xml</param-value>
  </context-param>
  
  <listener>
  	<listener-class>
  		org.springframework.web.context.ContextLoaderListener
  	</listener-class>
  </listener>
	
	  <!-- DispatcherServlet,SpringMVC的核心 -->
  <servlet>
	<servlet-name>mvc-dispatcher</servlet-name>
	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	<!-- DispatcherServlet对应的上下文配置，默认为/WEB-INF/$servlet-name$-servlet.xml -->
	<init-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/configs/spring/mvc-dispatcher-servlet.xml</param-value>
	</init-param>
  </servlet>
  <servlet-mapping>
	<servlet-name>mvc-dispatcher</servlet-name>
	<!-- mvc-dispatcher拦截所有请求 -->
	<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- 字符编码过滤器 -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>com.sven.util.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>	
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

</web-app>